<mat-card>
  <mat-card-content>
      <h2><i class="material-icons icon-top">insert_chart</i>&ensp;Ingresos</h2>
      <mat-divider></mat-divider>
      <mat-tab-group>
          <mat-tab label="Mis ingresos actuales">
            <div class="content-tab table-notation">
              <span *ngIf="!dataIngresos.length">
                <br>
                No hay datos que mostrar.
              </span>
              <table *ngIf="dataIngresos.length" class="mat-elevation-z5" mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{getDate(element.fecha)}} </td>
                  </ng-container>
                  <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell *matCellDef="let element"> <b>$</b>{{element.monto}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
          </mat-tab>
          <mat-tab label="Agregar un ingreso nuevo">
            <div class="content-tab">
              <span *ngIf="defaultPago === -1">
                <br>
                No se definido un método de pago e ingreso.
              </span>
              <form *ngIf="defaultPago >= 0">
                <br>
                  <span>Rellena los campos</span><br><br>
                  <mat-form-field style="width: 100%">
                      <span matSuffix><i class="material-icons">attach_money</i>&nbsp;</span>
                      <input 
                      matInput 
                      placeholder="Monto" 
                      [min]="0"
                      [(ngModel)]="ingreso.monto"
                      name="monto"
                      autocomplete="off"
                      type="number">
                  </mat-form-field>
                  <mat-form-field style="width: 100%">
                      <input 
                      matInput 
                      placeholder="Descripción del ingreso" 
                      [(ngModel)]="ingreso.motivo"
                      name="motivo"
                      autocomplete="off"
                      type="text">
                  </mat-form-field>
                  <mat-form-field style="width: 100%;">
                      <input 
                      [(ngModel)]="ingreso.fecha" 
                      matInput 
                      [matDatepicker]="picker" 
                      name="fecha"
                      autocomplete="off"
                      [max]="maxDate"
                      placeholder="Fecha del ingreso">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <br><br>
                  <button mat-button color="primary" (click)="agregarIngreso()">
                    <i class="material-icons">add</i>&ensp;&ensp;
                    AGREGAR INGRESO
                  </button>
              </form>
            </div>
          </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>