<svg style="height: 100%; position: fixed; width: 100%; top: 0px;" jsname="BUfzDd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 810" preserveAspectRatio="xMinYMin slice" aria-hidden="true">
  <path fill="#efefee" d="M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z"></path>
  <path fill="#f6f6f6" d="M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z"></path>
  <path fill="#f7f7f7" d="M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z"></path>
  <path fill="#fbfbfc" d="M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z"></path>
  <path fill="#ebebec" d="M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z"></path>
  <path fill="#e1e1e1" d="M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z"></path>
  <path fill="#e7e7e7" d="M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z"></path>
</svg>
<br><br>
<mat-card style="margin: 45px; padding: 35px; margin-top: 0px; position: relative;">
  <form class="registrarForm">
    <h2>Crear una cuenta en eWallet</h2>
    <br>
    <div>
        <label>Para crear una cuenta solo debes rellenar los siguientes campos.</label><br><br>
        <mat-form-field style="width: 50%;">
          <mat-label>Nombres</mat-label>
          <input matInput [(ngModel)]="registroData.nombres" type="text" name="nombres" autocomplete="off"
          [formControl]="nombres" [errorStateMatcher]="matcher">
          <mat-error *ngIf="isRequired(nombres)">
              El nombre es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <mat-label>Apellidos</mat-label>
          <input matInput [(ngModel)]="registroData.apellidos" type="text" name="apellidos" autocomplete="off"
          [formControl]="apellidos" [errorStateMatcher]="matcher">
          <mat-error *ngIf="isRequired(apellidos)">
              El apellido es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%;">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="registroData.contra1" matInput type="password" name="password" autocomplete="off"
          [formControl]="contraFirst" [errorStateMatcher]="matcher">
          <mat-error *ngIf="isRequired(contraFirst)">
              La contraseña es <strong>requerida</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <mat-label>Confirmar contraseña</mat-label>
          <input [(ngModel)]="registroData.contra2" matInput type="password" name="confirm" autocomplete="off"
          [formControl]="contraSecond" [errorStateMatcher]="matcher">
          <mat-hint>Las contraseñas deben coincidir</mat-hint>      
          <mat-error *ngIf="isRequired(contraSecond)">
              La contraseña de confirmación es <strong>requerida</strong>.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
          <mat-label>Correo electrónico</mat-label>
          <input [(ngModel)]="registroData.email" matInput type="email" name="email" autocomplete="off" 
          [formControl]="email" [errorStateMatcher]="matcher">
          <mat-hint><b>Formato</b> ejemplo@example.com</mat-hint>
          <mat-error *ngIf="isValid(email, 'email', 'required')">
            Ingresar un correo electrónico válido.
          </mat-error>
          <mat-error *ngIf="isRequired(email)">
            El correo electrónico es <strong>requerido</strong>.
          </mat-error>
          <i class="material-icons" matSuffix>email</i>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
          <textarea [(ngModel)]="registroData.direccion" matInput placeholder="Dirección (opcional)"
          [formControl]="direccion"></textarea>
          <mat-error *ngIf="is(direccion, 'pattern')">
              Ingresar una dirección válida.
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%;">
          <mat-label>DUI</mat-label>
          <input [(ngModel)]="registroData.dui" matInput type="text" name="dui" autocomplete="off"
          [formControl]="dui" [errorStateMatcher]="matcher">
          <mat-hint><b>Formato</b> 00000000-0</mat-hint>
          <mat-error *ngIf="isValid(dui, 'pattern', 'required')">
            Ingresar un DUI válido.
          </mat-error>
          <mat-error *ngIf="isRequired(dui)">
            El DUI es <strong>requerido</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <mat-label>NIT</mat-label>
          <input [(ngModel)]="registroData.nit" matInput type="text" name="nit" autocomplete="off"
          [formControl]="nit" [errorStateMatcher]="matcher">
          <mat-hint><b>Formato</b> 0000-000000-000-0</mat-hint>
          <mat-error *ngIf="isValid(nit, 'pattern', 'required')">
              Ingresar un NIT válido.
          </mat-error>
          <mat-error *ngIf="isRequired(nit)">
            El NIT es <strong>requerido</strong>.
          </mat-error>
          <i class="material-icons" matSuffix>credit_card</i>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 50%;">
          <mat-label>Teléfono (opcional)</mat-label>
          <input [(ngModel)]="registroData.telefono" matInput type="text" name="telefono" autocomplete="off"
          [formControl]="telefono">
          <mat-hint><b>Formato</b> (2,6,7)000-0000</mat-hint>
          <mat-error *ngIf="is(telefono, 'pattern')">
              Ingresar un teléfono válido.
          </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Escoge una fecha"
          [formControl]="calendario" [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Clic en el calendario</mat-hint>
          <mat-error *ngIf="is(calendario, 'required')">
              Ingresar una fecha válida.
          </mat-error>
        </mat-form-field>
        <br><br><br>
        <mat-divider></mat-divider>
        <br><br>
    </div>
    <div>
        <a mat-button routerLink="/login">Inciar sesión</a>
        <button mat-raised-button color="primary" (click)="btnRegistrar()">Registrar</button>
    </div>
  </form>
</mat-card>