.icon-top{
    top: 4px;
    position: relative;
}
.content-tab{
    padding: 10px;
}
.table-notation{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
}